@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
 text-decoration: none; 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow-x: hidden;
}
body {
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: #0D171C;
  /* color: #bfb7c0; */
  color: #fff;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }


/* Header */
  .header-container{
  z-index: 99;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  }
.header-container header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.logo-name{
  font-size: 2rem;
  font-family: 'Bungee Shade', cursive;
}
nav{
  overflow-y: hidden;
}
#mobilenav{
  display: none;
}
ul.nav-links, ul.nav-links li{
  overflow-y: hidden;
  list-style-type: none;
  display: inline;
  padding: 10px;
  font-size: 1.3rem;
}
ul.nav-links li a{
  text-decoration: none;
  color: #fff;
  padding: 0 5px;
  z-index:222;
}
ul.nav-links li a:hover{
 color:#37b6c5;
}

/* Hero section */
.hero, #about, #projects, #skills, #experience{
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  
}
.hero{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: relative;
  display: flex;
  height: 60vh;
}
.hero #title{
  font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    background-image: url(https://www.adobe.com/content/dam/cc/xd/scrollanimation/maskShapesNew.svg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    width: auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(250, 250, 250, 0.3);
}
.contact{
  padding: 30px 0;
  display: flex;
  gap: 30px;
  justify-content:center;
}

.fiverr-btn{
 background-color: #0D171C;
  color: #37b6c5;
  font-size: 1.3rem;
  border: 2px solid #37b6c5;
  padding: 10px 25px;
  border-radius: 5px;
  
}

.contact-me{
  background-color: #37b6c5;
  color: #0D171C;
  text-decoration: none;
  border: 2px solid #37b6c5;

  font-size: 1.3rem;
  padding: 10px 25px;
  border-radius: 5px;
}

/* About Section */
#about{
  
  
}
.about-container{
  display: flex;
  justify-content:flex-start;
  align-items: center;
 
}
.profile-picture{
  width: 40%;
}

.my-profile{
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
}
.card-container{
  width: 70%;
  height: 400px;
  padding-top: 3rem;
}

#about-title{
  font-size: 2rem;
}

.card{
  position: relative;
  top:20px;
  min-width: 0;
  word-wrap: break-word;
  background-color:#bfb7c0;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  color: #0D171C;
  
  height: 250px;
}
.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color:#0D171C;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.about-text{
  padding: 30px;
  
}


/* Projects */
.projects-container{
  max-width: 800px;
  margin: 0 auto;
}
.projects-title{
  font-size: 2rem;
  padding: 30px 0;
}
/* Scrolling images */
.projects-row{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;
}


.screen .img1 {
	bottom: -20px;
}
.screen .img2 {
	bottom: -980px;

}
.screen .img3 {
	bottom: -450px;
}

.screen .img4 {
	bottom: -750px;
}

.screen .img5 {
	bottom: -650px;
}


.screen .img6 {
	bottom: -510px;
}

.screen .img7 {
	bottom: -1120px;
}


.screen .img8 {
	bottom: -280px;
}
.screen {
	display: block;
	width: 300px;
	height: 300px;
	overflow: hidden;
	position: relative;
	border: 2px solid #b3b3b3;
	border-radius: 1px;
	margin: 0 auto;
}
.screen img{
  width: 100%;
	height: auto;
	position: absolute;
	z-index: 0;
  margin:0;
  padding:0;
	-webkit-transition: top 11s;
	-moz-transition: top 11s;
	-ms-transition: top 11s;
	-o-transition: top 11s;
	transition: bottom 11s;
}

.screen:hover img {
  bottom: 0;
  -webkit-transition: all 11s;
  -moz-transition: all 11s;
  -ms-transition: all 11s;
  -o-transition: all 11s;
  transition: all 11s;
}


/* Skills */
.skills-title{
  text-align: center;
  font-size: 2rem;
}


/* Footer */
.footer{
  height: 50px;
  background-color: #bfb7c0;
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.footer span{
  color: #0D171C;
}
.githubsvg{
  width: 100%;
  max-width: 30px;

}
#navbars{
  /* display: none; */
}

/* Responsive */
@media screen and (max-width:768px ) {
  header{
    padding: 20px!important;
  }
  
  .logo-name{
    width: 100%;
    font-size: 1.3rem;
  }
  #link1, #link2, #link3{
    position: fixed;
    margin: 0;
    right: -22px;
    transform: rotate(-90deg);
    background: #37b6c5;
    padding: 5px 15px;
    font-size: 14px;
    border: 0;
  }
  #link1:hover, #link2:hover, #link3:hover{
color:#0D171C;
  }
  #link1{
    top: 50px;
   
  }
  #link2{
    top: 150px;
    right: -32px;
    
  }
  #link3{
    top: 250px;
    
  }
  .hero {
    display:flex;
    padding: 0px 25px;
    align-items:flex-start;
  }
  .hero > #title{
    font-size:2rem;
    line-height: 40px;
    letter-spacing: 2px;
    text-align:left;
    
  }
  .contact{
  display:flex;
    gap:10px;
    
  }
  .fiverr-btn{
    font-size:1rem;
    padding: 5px;
  }
  .contact-me{
    font-size:1rem;
    padding: 5px;
  }
  .about-container{
    flex-direction:column;
    padding:20px;
   
  }
  .about-text{
    padding:20px;
  }
  .profile-picture{
width:100%;
display:flex;
justify-content:center;
  }
  .card-container{
    width: 100%;
    overflow:hidden;
    margin-top:50px;
  }
  #about-title{
    text-align:center;
    background:#37b6c5aa;
    /* width: */
  }
  .projects-container{
    width: calc(100% - 20px);
   
  }
  .projects-title{
   text-align:center;
    
  }
  .projects-row{
   
    flex-direction: column;
   
  }
  .vertical-timeline{
    width: calc(100% - 30px);
  }
}
.btt svg{
  cursor:pointer;
}


